@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');
body 
{
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
}

.header 
{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-container 
{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 0;
    box-sizing: border-box;
}

.logo
{
    object-fit: contain;
}

.nav
{
    display: flex;
    align-items: center;
    margin: 0 99px
}

.nav--link
{
    margin-right: 87px;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #000;
    text-decoration: none;
    white-space: nowrap;
}

.nav--link:last-child 
{
    margin-right: 0;
}

.button 
{
    border: none;
    width: 100%;
    height: 55px;
    padding: 18.36px 34.425px;
    box-sizing: border-box;
    font-weight: bold;
    font-size: 16px;
    line-height: 16px;
    color: #fff;
    background: #05090C;
    border-radius: 4.59px;
    transition: 0.2s;
    cursor: pointer;
}

.nav--button 
{
    max-width: 247px;
}

.promo--button 
{
    max-width: 332px;
}

.button:hover 
{
    background: #32393d;
}

.promo
{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.promo-wrapper
{
    display: flex;
    justify-content: center;
    align-items: center;
}

.promo--img 
{
    width: 100%;
    object-fit: cover;
}

.title 
{
    font-weight: 600;
    font-size: 6rem;
    line-height: 122.35%;
    color: #000;
}

.text 
{
    font-weight: 400;
    font-size: 26px;
    line-height: 120%;
    color: rgba(0, 0, 0, 0.7);
}

.title_pink 
{
    color: #EE58B6;
}

.features 
{
    display: flex;
    justify-content: center;
    background: #000;
    padding: 50px 0;
    box-sizing: border-box;
}

.features--item 
{
    margin: 0 30px;
}

.features--img 
{
    max-width: 60px;
    object-fit: contain;
}

.features--text
{
    font-weight: 400;
    font-size: 1.375rem;
    line-height: 120%;
    color: #fff;
    text-align: center;
}

.about 
{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 0;
    box-sizing: border-box;
}

.about--item 
{
    margin: 20px 0;
}

.about-wrapper 
{
    display: flex;
    justify-content: center;
    align-items: center;
}

.about--img
{
    width: 100%;
    object-fit: cover;
}

.about--title 
{
    font-size: 3rem;
    line-height: 126.06%;
    color: #0004;
}

.about--text 
{
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 135%;
    color: rgba(0, 0, 0, 0.7);
}

.course 
{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.course--title
{
    font-size: 48px;
    line-height: 59px;
    text-align: center;
    color: #000;
    margin-bottom: 50px;
}

.course--title_pink 
{
    color: #EE58B6;
}

.course-container 
{
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.course-card
{
    width: 100%;
    max-width: 358px;
    height: 190px;
    background: #000;
    margin: 0 20px 30px 0;
    padding: 30px;
    box-sizing: border-box;
}

.course--icon 
{
    max-width: 40px;
    object-fit: contain;
}

.course--text 
{
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 21px;
    color: #fff;
}

.footer 
{
    width: 100%;
    background: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 35px 0;
    box-sizing: border-box;
}

.container
{
    width: 100%;
    max-width: 1580px;
}

.container_sm
{
    max-width: 1135px;
}

.container_xl
{
    max-width: 1600px;
}

.wrapper
{
    display: flex;
    align-items: center;
}

.wrapper_justify-center 
{
    justify-content: center;
}

.wrapper_justify-between 
{
    justify-content: space-between;
}

.wrapper_flex-column 
{
    flex-direction: column;
}

.section 
{
    margin: 20px 0;
    display: flex;
    justify-content: center;
}
